body {
    text-align: center;
    background-color: #262626;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    margin: 0;
}

form {
    background-color: #ffffff;
    color: #000000;
    border-color: #ffffff;
    border-style: solid;
    border-radius: 20px;
    width: 50%; /* Adjusted width for better visibility */
    margin: 20px auto; /* Center the form */
    padding: 20px; /* Added padding for better spacing */
}

table {
    background-color: #ffffff;
    color: #000000;
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}

th, td {
    border: 1px solid #dddddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #262626;
    color: #ffffff;
}
