<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fuel Quote Form</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
	<script type="text/javascript" language="javascript">

		//enabledSubmit inspired by https://websitemaintenance.medium.com/simple-javascript-to-disable-submit-button-until-input-fields-are-filled-in-ee9ec13906be
		function enableQuote()
		{
			let inputs = document.getElementsByClassName('required');
			let btn1 = document.querySelector('button[type="button"]');
			let btn2 = document.querySelector('button[type="submit"]');
			let isValid = true;

			//enable the quote button if required fields are filled
			for(var i = 0; i < inputs.length; i++)
			{
				let changedInput = inputs[i];
				if(changedInput.value.trim() === "" || changedInput.value === null)
				{
					isValid = false;
					break;
				}
			}
			
				btn1.disabled = !isValid;

			//empty the estimate and total price each time a required input changes
			let noneditables = document.getElementsByClassName('nonedit');

			for(var i = 0; i < noneditables.length; i++)
			{
				noneditables[i].value = "";
			}

			//disable the submit button, if enabled
			btn2.disabled = true;
		}

	function enableSubmit()
	{
		let inputs = document.getElementsByClassName('nonedit');
		let btn2 = document.querySelector('button[type="submit"]');
		let isValid = true;
		
		for(var i = 0; i < inputs.length; i++)
		{
			if(inputs[i].value.trim() === "" || inputs[i].value === null)
			{
				isValid = false;
				break;
			}
		}
		btn2.disabled = !isValid;
	}
	</script>
	
	<script>
		
		function PriceModule()
		{
			var xhttp = new XMLHttpRequest();
			
			xhttp.onreadystatechange = function() {
				var element = document.getElementById("SuggestedPricePerGallon");
				var element2 = document.getElementById("TotalAmountDue");

				var response = this.responseText;
				console.log(response);
				let index = response.indexOf("$");

				let suggestion = response.substring(0, index);
				let total = response.substring(index + 1, response.length);
				element.value = suggestion;
				element2.value = total;
				enableSubmit();
			}

			var gallons = document.getElementById("GallonsRequested").value;
			var delivery = document.getElementById("DeliveryAddress").value;
			var orderdate = document.getElementById("OrderDate").value;

			var values = "gallons=" + gallons;
			//var values = "gallons="+ gallons + "&delivery=" +  delivery + "&date=" + orderdate;

			xhttp.open("POST","/processfuelform")
			xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			xhttp.send(values);
		}
	</script>
	<div class="container">
		<form action="/fuel_quote_form" method="post">
			<h1>Fuel Quote Form</h1>
			<h3 style="color:tomato;"><%= error_message %></h3>
			<label for="GallonsRequested">Gallons Requested:</label><br>
			<input type="number" id="GallonsRequested" name="GallonsRequested" min="1" class="required" required oninput="enableQuote()"><br><br>
			
			<label for="DeliveryAddress">Delivery Address:</label><br>
			<input type="text" id="DeliveryAddress" name="DeliveryAddress" class="required" value="<%= deliveryAddress %>" readonly><br><br>

			<label for="OrderDate">Select A Delivery Date</label><br>
			<input type="date" id="OrderDate" name="OrderDate" min="<%= minimum_date %>" class="required" required onchange="enableQuote()"><br><br>
			
			<button type="button" disabled onclick="PriceModule()">Get Quote</button><br><br>
			
			<label for="SuggestedPricePerGallon">Suggested Price Per Gallon</label><br>
			<input type="text" id="SuggestedPricePerGallon" name="SuggestedPricePerGallon" value="" class="nonedit" readonly required><br><br>
			
			<label for="TotalAmountDue">Total Amount Due</label><br>
			<input type="text" id="TotalAmountDue" name="TotalAmountDue" class="nonedit" value="" readonly required><br><br>
			
			<a href="/user_homepage" class="button">Cancel</a>
			<button type="submit" class="button" disabled>Submit</button>
        </form>
    </div>

	
</body>
</html>

